<ion-header>
  <ion-toolbar>
    <ion-title>Home Modal</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ionic Modal sets focus on the first input element -->
  <!-- Angular Mat Datepicker has the hack of explicit focus on focused element -->
  <!-- https://github.com/angular/components/blob/ef1673594f12f7f6af86fd6c9d5174da4502a788/src/material/datepicker/datepicker.ts#L366 -->
  <!-- <input type="hidden">
  <ion-list-header color="light">Chip picker</ion-list-header>
  <app-chipselect *ngIf="options" [chipoptions]="options" [config]="chipsConfig"></app-chipselect>
  <ion-list-header color="light">Date picker</ion-list-header>
  <ion-item lines="full">
    <ion-label>All day</ion-label>
    <ion-checkbox slot="start" (ionChange)="allDayToggle($event)"></ion-checkbox>
  </ion-item> -->

  <!-- Available Colors: primary, accent, warn -->
  <!-- Min & Max date should be in MM/DD/YYYY || [min]="Date('12/05/2019')" || [max]="Date('12/25/2019')" -->
  <!-- <app-datepicker [label]="'From'" [color]="'warn'" [includeTime]="!allday" [form]="form"
    [control]="'eventStartDate'" [datetimeFrom]="true" [sourceCalendar]="false"></app-datepicker>

  <app-datepicker [label]="'To'" [color]="'accent'" [includeTime]="!allday" [form]="form"
    [control]="'eventEndDate'" [datetimeTo]="true" [sourceCalendar]="false"></app-datepicker> -->

  <ion-slides #slides>
    <ion-slide>
      <h1>Slide 1</h1>
      <ion-button (click)="next()">Next</ion-button>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
      <ion-button (click)="back()">Back</ion-button>
      <ion-button (click)="next()">Next</ion-button>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
      <ion-button (click)="back()">Back</ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
