<div>
  <ngx-dropzone (change)="onSelect($event)" [multiple]="false" [accept]="'image/png, image/jpeg'">
    <ngx-dropzone-label>Drop your images files here or click to select file</ngx-dropzone-label>
    <app-custom-image-preview *ngIf="croppedImageUrl" ngProjectAs="ngx-dropzone-preview" [removable]="true"
      [imageURL]="croppedImageUrl" (removed)="removeSelected()">
    </app-custom-image-preview>
  </ngx-dropzone>
  <ion-button expand="block">Upload</ion-button>
  <ion-button expand="block" (click)="openUnsplashModal()">Choose from Unsplash</ion-button>
</div>