<div matAutocompleteOrigin
     #optionorigin="matAutocompleteOrigin"
     ></div>

<input type="text"
       type="hidden"
       aria-label="Number"
       [matAutocompleteConnectedTo]="optionorigin"
       [matAutocomplete]="optionauto"
       #optionAutoCompleteInput="matAutocompleteTrigger"
       >
       
<mat-autocomplete #optionauto="matAutocomplete"
                  (opened)="autoopened()"
                  (closed)="autoclosed()"
                  (optionSelected)="optionSelected($event)">

             
                    <mat-option *ngFor="let prediction of predictions" [value]="prediction">
                      {{prediction.description}}
                    </mat-option>
            
</mat-autocomplete>